<html>
	<head>
		<title>
			Resume
		</title>
		<link rel="stylesheet" type="text/css" href="style.css">
		<style>
			p{
				text-align: center;
				color :black;
				font-size: 200%;
			}
			li{
				color:green;
			}
		</style>
	</head>

	<body >
		<div class='nav'>
			<ul class='titles'>
				<li> <a href="success.ejs"> HOME </a></li>
				<li> <a href="acad.ejs"> ACADMECIS</a></li>
				<li> <a href="achivements.ejs"> ACHIEVEMENTS</a> </li>
				<li> <a href="about.ejs"> ABOUT ME </a> </li>
				<li> <a href="contact.ejs"> CONTACT ME </a> </li>
			</ul>
		</div>

		<br><br><br>
		<div class = 'hacad'>
			<p>
				<ul style="font-size: 30px;">
					<li>Student</li>
					<li>Fourth year of engineering</li>
					<li>Studying in AIT</li>
				</ul>  
			</p>
		</div>

	</body>
</html>
