<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>typing</title>
    <link rel="stylesheet" type="text/css" href="/main.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body background="ml.jpg">
    <div class="main_div">
      <h1 id = 'h1'>User Login</h1>
      <input type="text" name="username" value="" placeholder="Username" id = "username">
      <input type="text" name="pass" value="" placeholder="Password" id = "press">
      
      <script src="/client_script.js"></script>
	  <button type="submit" name="signup" id = "signup" >signup</button>
      <button type="submit" name="train" id = "train" >Train</button>
      <button type="submit" name="test" id = "test" >Test</button>
    </div>

  </body>
</html>
